section#just-intro
  .container
    .row.text-center
        h2
          strong The key focus areas for success
        p To run the most performant organisation all three of the following areas must be in sync.
    .row.text-center.pad-row
      .col-md-4.col-sm-4
        i.fa.fa-users.fa-5x
        h4
          strong People
        ul
          li
            | Hiring Practices
          li
            | Specialist Recruitment
          li
            | Career Development
          li
            | Career Paths
          li
            | Re-location

        //a.btn.btn-primary(href='#') Read Details
      .col-md-4.col-sm-4
        i.fa.fa-refresh.fa-5x
        h4
          strong Process
        ul
          li
            | Agility and Agility at Scale
          li
            | Lean Methodologies
          li
            | Product Managment
          li
            | Data Driven Decision Making
          li
            | Programme Management

        //a.btn.btn-primary(href='#') Read Details
      .col-md-4.col-sm-4
        i.fa.fa-code.fa-5x
        h4
          strong Technology
        ul
          li
            | Continuous Delivery
          li
            | Automation
          li
            | Cloud Computing
          li
            | Dev-Ops
          li
            | SOA and Micro-Services

        //a.btn.btn-primary(href='#') Read Details