section#clients
  .container
    .row.text-center.pad-bottom
        p
        strong Experience
    .row.text-center.pad-bottom
        .col-md-12.text-center
         .col-md-2.text-center
            img.img-responsive(src='http://img1.wikia.nocookie.net/__cb20140718164330/logopedia/images/2/2a/Amazon-Instant-Video.png', alt='Amazon Instant Video')

         .col-md-2.text-center
            img.img-responsive(src='http://www.throup.org.uk/images/doctor_who/bbc_black.png', alt='BBC')
         .col-md-2.text-center
            img.img-responsive(src='http://webformregistration.com/radiotimes/images/radiotimes-logo.gif', alt='RadioTimes')

         .col-md-2.text-center
            img.img-responsive(src='http://www.devopstraining.co.uk/contino-logo.png', alt='Contino')
         .col-md-2.text-center
            img.img-responsive(src='http://raceforasoldier.org/sites/default/files/North%20Highland_logo_RGB.jpg', alt='North Highland')

         .col-md-2.text-center
            img.img-responsive(src='https://upload.wikimedia.org/wikipedia/en/thumb/b/b0/Tesco_Logo.svg/1280px-Tesco_Logo.svg.png', alt='Tesco')


//         .col-md-2.text-center
//            img.img-responsive(src='http://the-void.co.uk/wp-content/uploads/2011/12/lovefilm_logo.jpg', alt='LOVEFiLM')
//         .col-md-2.text-center
//            img.img-responsive(src='http://www.magicmilestones.biz/wp-content/themes/mm/images/logo.png', alt='Magic Milestones')
//         .col-md-2.text-center
//            img.img-responsive(src='https://www.pubservice.com/Images/VY.gif', alt='Variety')


