section#just-intro
  .container
    .row.text-center.pad-row
      .col-md-15.col-sm-3
        i.fa.fa-refresh.fa-5x
        h4
          strong People
        p
          | We are specialists in delivering faster through automation, we can help you get better products to customers faster.
        //a.btn.btn-primary(href='#') Read Details
      .col-md-15.col-sm-3
        i.fa.fa-flask.fa-5x
        h4
          strong Organistaional Design
        p
          | We can help you harness your data to make sure you're making the right decisions when you need to.
        //a.btn.btn-primary(href='#') Read Details
      .col-md-15.col-sm-3
        i.fa.fa-pencil.fa-5x
        h4
          strong Technology
        p
          | Get the most out of your organisation. We can help tailor your buinsess to deliver more with less.
        //a.btn.btn-primary(href='#') Read Details
      .col-md-15.col-sm-3
        i.fa.fa-pencil.fa-5x
        h4
          strong Quality
        p
          | Get the most out of your organisation. We can help tailor your buinsess to deliver more with less.
        //a.btn.btn-primary(href='#') Read Details
      .col-md-15.col-sm-3
        i.fa.fa-pencil.fa-5x
        h4
          strong Product
        p
          | Get the most out of your organisation. We can help tailor your buinsess to deliver more with less.
        //a.btn.btn-primary(href='#') Read Details
        .col-md-1.col-sm-1
