section.note-sec
    .container.headline
        .row.tag
            .col-md-12
                      h1 Deliver better products to your customers faster at lower cost.
                      p
                      | We offer IT Digital Transformation services to help your organisate leverage the power of modern tools and techniques.
                      | Our background delivering change management solutions for organisations including Amazon.com, Tesco and BBC can help your organisation too!
                      p
                      a.btn.btn-primary(href='/contact') Get intouch!