block intro

section#intro.note-sec
    .container
        .row.text-center.pad-bottom
            p
            strong Services
        .row.text-center
            .col-md-4.col-sm-4.portfolio-item.item-main
                img(src='http://placehold.it/140x140').img-circle
                h2 Maturity Assessment
                p Where to start? How agile is your business? Are you able to build and deploy quickly? Let us review and take stock of your current state of play.
            .col-md-4.col-sm-4.portfolio-item.item-main
                img(src='http://placehold.it/140x140').img-circle
                h2 Recruitment
                p Need to build a team? How do you measure the quality of your new staff? It can be hard to know where to start, but we're here to help.
            .col-md-4.col-sm-4.portfolio-item.item-main
                img(src='http://placehold.it/140x140').img-circle
                h2 Delivery
                p Need to execute against and plan? whether we helped you design it or you've already got a starting point, we can help you deliver.
