
block nav

    //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
    //- ... or completely change this header to suit your design.
section
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.navbar-font-large(href='/') We Make Cool Things
                   span.small-font
            .navbar-collapse.collapse
              ul.nav.navbar-nav.navbar-left
              ul.nav.navbar-nav.navbar-right
                ul.nav.navbar-nav.navbar-right
                  each link in navLinks
                    li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
