nav.navbar.navbar-fixed-top.wowmenu(role='navigation')
    .container
        .navbar-header
          a.navbar-brand.logo-nav(href='index.html')
            img(src='img/logo.png', alt='logo')
        | &#x9;&#x9;
        ul#nav.nav.navbar-nav.pull-right
          li.active
            a(href='index.html') Home
          | &#x9;&#x9;&#x9;
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Pages
              i.icon-angle-down
            | &#x9;&#x9;&#x9;
            ul.dropdown-menu
              li
                a(href='home2.html') Home Alt
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='about.html') About Us
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='services.html') Services
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='timeline.html') Timeline
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='landingpage.html') Landing Page
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='testimonials.html') Testimonials
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='faq.html') F.A.Q.
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='404.html') 404 Not Found
          | &#x9;&#x9;&#x9;
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Portfolio
              i.icon-angle-down
            | &#x9;&#x9;&#x9;
            ul.dropdown-menu
              li
                a(href='portfolio3.html') Three Columns
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='portfolio2.html') Two Columns
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='portfolio4.html') Four Columns
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='projectdetail.html') Single Project
          | &#x9;&#x9;&#x9;
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Blog
              i.icon-angle-down
            | &#x9;&#x9;&#x9;
            ul.dropdown-menu
              li
                a(href='blogindex.html') Home Blog
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='blogsinglepost.html') Single Post
          | &#x9;&#x9;&#x9;
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Features
              i.icon-angle-down
            | &#x9;&#x9;&#x9;
            ul.dropdown-menu
              li
                a(href='elements.html') Elements
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='columns.html') Columns
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='icons.html') Icons
              | &#x9;&#x9;&#x9;&#x9;
              li
                a(href='#') Masonry Grids +
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                ul.dropdown-menu.sub-menu
                  li
                    a(href='masonry2.html') Masonry Two
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='masonry3.html') Masonry Three
                  | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                  li
                    a(href='masonry4.html') Masonry Four
          | &#x9;&#x9;&#x9;
          li
            a(href='contact.html') Contact
