section#offer
    .container
    .row.alert.alert-info
      .col-md-8.col-sm-8
        h1   Download Deatils Now For Latest Offers
      .col-md-4.col-sm-4(style='padding-top: 15px;')
        a.btn.btn-primary.btn-lg(href='#') GRAB IT HERE NOW