section.note-sec
    .container
        .row.text-center.pad-row
            .col-md-8.col-md-offset-2.col-sm8.col-sm-offset-2
                i.fa.fa-quote-left.fa-3x
                p
                      |Quotes!