section#just-intro.note-sec
  .container
    .row.text-center.pad-row
      .col-md-4.col-sm-4
        i.fa.fa-refresh.fa-5x
        h4
          strong Continuous Delivery
        p
          | We are specialists in delivering faster through automation, we can help you get better products to customers faster.
        //a.btn.btn-primary(href='#') Read Details
      .col-md-4.col-sm-4
        i.fa.fa-flask.fa-5x
        h4
          strong Data Driven Decisions
        p
          | We can help you harness your data to make sure you're making the right decisions when you need to.
        //a.btn.btn-primary(href='#') Read Details
      .col-md-4.col-sm-4
        i.fa.fa-pencil.fa-5x
        h4
          strong Organisational Design
        p
          | Get the most out of your organisation. We can help tailor your buinsess to deliver more with less.
        //a.btn.btn-primary(href='#') Read Details