section.toparea
    .container
        .row
          .col-md-6.top-text.pull-left.animated.fadeInLeft
            i.icon-phone
            |  Phone: (316) 444 8529
            span.separator
            i.icon-envelope
            |  Email:
            a(href='#') wowthemesnet@gmail.com
          | &#x9;&#x9;&#x9;
          .col-md-6.text-right.animated.fadeInRight
            .social-icons
              a.icon.icon-facebook(href='#')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              a.icon.icon-twitter(href='#')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              a.icon.icon-linkedin(href='#')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              a.icon.icon-skype(href='#')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              a.icon.icon-google-plus(href='#')